.img1{
    padding-right: 300px;
    border-radius: 20px;
    border-color: rgb(225, 176, 69);
}
.testt{
    color: rgb(225, 176, 69);

}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li.oblique{font-style: oblique;}

div {
    font-style: oblique;
}
.block {
    position: fixed;
    background: #f1e6a4;
    color: #bc6c04;
    padding: 18px;
    width: 165px;
    border-radius: 60px;
    border-style: dashed;

}
@media print {
    body { font-size: 15px; }
    p{font-style: normal;}
    }
    @media screen {
        body { font-size: 16px; }
    }  
    @media screen, print {
        body{color: black;}
    }
    .grid-container1 {
        display: grid;
        gap: 50px 50px;
        grid-template-columns: auto auto auto;
        background-color: #ffe9a2;
        padding: 10px;
      }
      
      .grid-item {
        background-color: rgba(247, 248, 219, 0.8);
        border: 1px solid rgba(238, 227, 227, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
      .grid-container3{
        display: grid;
        height: 300px;
        align-content: space-around;
        grid-template-columns: auto auto auto;
        gap: 10px;
        background-color: #f4ff7b;
        padding: 10px;
      }
      
      .grid-container3 > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
      }
